@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.container {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cabecalho {
  background-color: #ffffff;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.cabecalho-central {
  background-color: #ffffff;
  width: 100%;
  max-width: 904px;
  height: 54px;
  display: flex;
  justify-content: space-between;
}

.caixa-menu-esquerda {
  background-color: #ffffff;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon-instagram {
  color: black;
  font-size: 20px;
}

.linha-icon-instagram {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}

.caixa-menu-central {
  background-color: #ffffff;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-pesquisar {
  width: 215px;
  height: 28px;
  border: solid 1px #dbdbdb;
  background-color: #fafafa;
}

.input-pesquisar::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.caixa-menu-direita {
  background-color: #ffffff;
  width: 16%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-icon-cabecalho {
  display: block;
}

.icon-cabecalho {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.stories {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 614px;
  height: 118px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  padding-left: 12px;
  box-sizing: border-box;
}

.icon-stories {
  width: 35px;
  height: 66px;
  color: #ffffff;
}

.stories-caixa-seta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.caixa-icon-stories {
  position: absolute;
  left: 0px;
  top: 2px;
}

.stories-unico {
  background-image: url("./assets/stories_background.jpg");
  background-size: 66px;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories-caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.storie-image {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.subtitle-story {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.container-principal {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 904px;
  margin-top: 88px;
}

.container-central {
  width: 100%;
  max-width: 614px;
  height: 100%;
  display: flex;
}

.container-feed-stories {
  display: flex;
  flex-direction: column;
}

.post {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.post-image {
  width: 100%;
  max-width: 612px;
  height: 612px;
}

.post-cabecalho {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-foto-perfil {
  width: 32px;
  height: 32px;
}

.post-image-perfil {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-nome-perfil {
  width: 109px;
  height: 21px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  line-height: 1.4rem;
  margin-left: 15px;
}

.post-cabecalho-esquerda {
  display: flex;
  margin-left: 16px;
  align-items: center;
}

.post-cabecalho-direita {
  margin-right: 16px;
}

.post-gear {
  display: flex;
  height: 42px;
  justify-content: space-between;
}

.post-gear-esquerda {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90px;
  justify-content: space-between;
  margin-left: 16px;
}

.post-gear-direita {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.post-info {
  display: flex;
  margin-left: 17px;
}

.post-info-image {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border-radius: 50%;
}

.post-info-texto {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3rem;
  margin-left: 5px;
}

.post-info-texto-negrito {
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.margin-story {
  margin-top: 25px;
}

.margin-post {
  margin-top: 60px;
}

.sidebar {
  width: 100%;
  max-width: 293px;
  margin-left: 29px;
  position: sticky;
  top: 120px;
}

.sidebar-cabecalho {
  display: flex;
  width: 293px;
  margin-top: 25px;
}

.sidebar-image-perfil {
  width: 56px;
  height: 56px;
  background-image: url("./assets/edegar.png");
  background-size: 56px;
  border-radius: 50%;
}

.sidebar-name-nickname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17px;
}

.nickname {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.name {
  font-weight: 300;
  font-size: 14px;
  margin-top: 2px;
  color: #8e8e8e;
}

.sidebar-entrelinhas {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.sidebar-entrelinhas-esquerda {
  font-weight: 500;
  font-size: 12px;
  color: #8e8e8e;
  width: 117px;
}

.sidebar-entrelinhas-direita {
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #262626;
  width: 55px;
}

.sidebar-sugestoes-image {
  width: 32px;
  height: 32px;
  background-image: url("./assets/tom-durinho.png");
  background-size: 32px;
  border-radius: 50%;
}

.sidebar-sugestoes-nickname {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.sidebar-sugestoes-info {
  font-weight: 400;
  font-size: 12px;
  color: #8e8e8e;
}

.sidebar-sugestoes-nickname-info {
  margin-left: 11px;
  margin-top: 4px;
}

.sidebar-sugestoes-seguir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-seguir {
  text-decoration: none;
  float: right;
  font-weight: 500;
  font-size: 12px;
  color: #139ef2;
  margin-top: 5px;
}

.sidebar-sugestoes {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.sidebar-sugestoes-esquerda {
  display: flex;
}

.sidebar-info-texto {
  font-weight: 400;
  font-size: 11px;
  color: #c7c7c7;
  margin-bottom: 18px;
  line-height: 13px;
}

.sidebar-info {
  margin-top: 33px;
}

.caixa-menu-escondida {
  display: none;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }

  .container-principal {
    max-width: 614px;
  }

  .cabecalho-central {
    max-width: 935px;
  }
}

@media (max-width: 614px) {
  .container-principal {
    max-width: 614px;
  }

  .compass {
    display: none;
  }

  .heart {
    display: none;
  }

  .person {
    display: none;
  }

  .caixa-menu-direita {
    width: 5%;
    margin-left: 220px;
  }

  .caixa-menu-esquerda {
    width: 5%;
  }

  .container-central {
    max-width: 614px;
  }

  .stories {
    max-width: 614px;
    background-color: #fafafa;
    border: 0px solid;
  }

  .caixa-menu-central {
    display: none;
  }

  .cabecalho-central {
    justify-content: initial;
  }

  .caixa-menu-escondida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }

  .caixa-menu-descondida {
    display: none;
  }

  .linha-icon-instagram {
    display: none;
  }

  .caixa-icon-stories {
    display: none;
  }
}
